<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="init" >

    <!--配置实例-->
    <bean id="testDao"  class="shop.yaojianfeng.springlearning.common.dao.impl.TestDaoImpl" scope="prototype"/>
    <bean id="testDao01"  class="shop.yaojianfeng.springlearning.common.dao.impl.TestDaoImpl" scope="prototype"/>
    <bean id="testDao02"  class="shop.yaojianfeng.springlearning.common.dao.impl.TestDaoImpl" scope="prototype"/>
    <bean id="testDao03"  class="shop.yaojianfeng.springlearning.common.dao.impl.TestDaoImpl" scope="prototype"/>
    <bean id="student1"  class="shop.yaojianfeng.springlearning.section2.entity.Student"  init-method="init" scope="prototype"/>
    <bean id="appUtil"  class="shop.yaojianfeng.springlearning.section2.util.AppUtil"/>

</beans>